<!DOCTYPE html>
<html>
<head>
    <title>User Sign Up</title>
    <style>
        label {display: block}
        span {color: red}
    </style>
</head>
<body>
    
{% extends "base.html" %}

{% block content %}

    <h1>Signup</h1>
    <form method="POST">
    <table>
        <tr>
            <td>
                <label>Username</label>
            </td>
            <td>
                <input name="username" type="text" value="{{username}}"/>
                <span class="error">{{username_error}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <label>Password</label>
            </td>
            <td>
                <input name="password" type="password" />
                <span class="error">{{password_error}}</span
            </td>
        </tr>
        <tr>
            <td>
                <label>Verify Password</label>
            </td>
            <td>
                <input name="verify_password" type="password" />
                <span class="error">{{verify_password_error}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <label>Email (optional)</label>
            </td>
            <td>
                <input name="email" type="text" value="{{email}}"/>
                <span class="error">{{email_error}}</span>
            </td>
        </tr>
    </table>
    <input type="submit"/>
</form>

{% endblock %}