<!DOCTYPE html>
<html>
<head>
    <title>User Sign Up</title>
    <style>
        label {display: block}
    </style>
</head>
<body>
    <h1>Signup</h1>
    <form method="POST">
    <table>
        <tr>
            <td>
                <label>Username</label>
            </td>
            <td>
                <input name="username" type="text" />
                <p class="error">{{user_name_error}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <label>Password</label>
            </td>
            <td>
                <input name="password" type="password" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Verify Password</label>
            </td>
            <td>
                <input name="verify_password" type="password" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Email (optional)</label>
            </td>
            <td>
                <input name="email" type="text" />
            </td>
        </tr>
    </table>
    <input type="submit"/>
</form>
</body>
</html>